<footer class="text-center py-3">
    <div>
        <a href="https://www.tbceducation.ge/" target="_blank">
            <img height="64px" src="{{ url_for('static', filename='images/tbc-logo.png') }}" alt="TBC Bank Georgia.">
        </a>
    </div>
    <div>
        <p>&copy; 2025 AskProCode. All rights reserved.</p>
        <p>
            <a href="/about">About</a> | 
            <a href="/contact">Contact</a> | 
            <a href="/privacy">Privacy Policy</a>
        </p>
    </div>
</footer>
